header h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    margin-bottom: 1rem;
}
header {
    color: blue;
    font-size: 1rem;
}

body h1 {
    
    font-family: 'Shrikhand', cursive; 'Oxygen';
    font-size: 2rem;
    color: green; 
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    font-size: 20px;
}
